/SmagerUp.Core.API/.vs
/SmagerUp.Core.API/bin
/SmagerUp.Core.API/obj
/SmagerUp.Core.API/Keys
/SmagerUp.Core.API/Properties
/SmagerUp.Core.API/Properties
/SmagerUp.Core.API/Properties
/SmagerUp.Core.API/Properties
/SmagerUp.Core.API/Properties
