

.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:10px;
    margin-bottom:10px;
}
.card.stat {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.card.stat > a {
    grid-column: 1 / -1;
}

.card.stat a {
    border: solid 1pt var(--btn-border-1);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--btn-1);
    color:var(--text);
}

.card.stat a:hover {
    background-color: var(--btn-2);
}

.card.stat i {
    font-size: 30px;
}
.color-users {
    color: #8178ee;
}

.color-databases {
    color: #3ec988;
}

.color-applications {
    color: #4b8bf6;
}
.color-api-requests {
    color: #f79c10;
}

.card{padding:20px}
.stat h1{font-size:48px;margin:10px 0}
.two-col{display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:10px}
.activity-header{display:flex;justify-content:space-between;align-items:center}
.activity{padding:16px 0;border-top:1px solid #3b4148}
@media(max-width:900px){
 
.two-col{grid-template-columns:1fr}
}
