@import "dashboard.css";
[data-bs-theme="dark"] {
    --bg-primary: #2a3a51;
    --bs-btn-bg: var(--bg-primary);
    --bg1: #3c5374;
    --bg1-down1: #2e4059;
    --hero-bg: linear-gradient(135deg, #406eb257, #385d945c);
    --card-bg:#ffffff05;
    --card-color: var(--bs-light);
    --bs-secondary-color: #d2d2d2;
    --card-icon-color: #ffffff;

    .btn-outline-dark {
    --bs-btn-color: #d7d7d7;
    --bs-btn-border-color: #8c8c8c66;
    --bs-btn-hover-color: #fff;
    }
    --bg-header1:#373737;
    --anchor-color:#638fcf;
    --box-shadow: 0 7px 10px rgb(255 255 255 / 5%);

    --bg-nav-title: #fff;
    --bg-nav-title-hover: #2f353b;
    --bg-nav-item-active: #2f353b;
    --color-nav-item-active:#fff;
    --bg-nav-item-hover: #2f353b; 
    --color-nav-item-hover:#84b6ff;
    --color-nav-title: #91a4be;
    --color-nav-item: #fff;
    --sidebar-border-color: #464646;
    --btn-sidebar-toggle-color: #a6a6a6;
    --bg-card-stat-a-hover: #353b41;
    --color-card-border: #464646;

    --bg-footer-color:#f3f3f3;
    --border-footer-color:#464646;
    --border-footer-text-color:#a6a6a6;    
    
}

[data-bs-theme="light"] {
    --bg-primary: #3b639e;
    --bs-btn-bg: var(--bg-primary);
    --bg1: #385d94;
    --bg1-down1: #2c4974;
    --hero-bg: linear-gradient(135deg, #406eb2, #385d94);    
    --bs-secondary-color: #2a577d;
    --card-icon-color:var(--bg1); 
    
    --card-bg:#5177af14;
    --card-color: var(--bs-dark);

    --bg-header1:#eaeaea;
    --anchor-color:#3b639e;
    --box-shadow:0 3px 10px rgba(0, 0, 0, .05);

    --bg-nav-title: #000;
    --bg-nav-title-hover: #f4f4f4;
    --bg-nav-item-active: #e4e4e4;
    --color-nav-item-active:#3b639e;
    --bg-nav-item-hover: #f4f4f4; 
    --color-nav-item-hover:#393a3c;
    --color-nav-title: #000;
    --color-nav-item: #3b639e;
    --sidebar-border-color: #e5e5e5;
    --btn-sidebar-toggle-color: #adadad;
    --bg-card-stat-a-hover: #fff;
    --color-card-border: #e5e5e5;

    --bg-footer-color:#f3f3f3;
    --border-footer-color:#e5e5e5;
    --border-footer-text-color:#323232;    
        


}

*{box-sizing:border-box}
div#app {
    min-height: 100vh;
}

.modal {
    --bs-modal-header-padding: 10px 8px;
}
.modal .btn{
    padding: 2px 10px;
}

.modal h5.modal-title {
    font-size: 12pt;
    font-weight: normal;
}

.modal .modal-body {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    justify-content: center;
    padding: 5px 7px;
}
.hero h1, .hero h2,.hero p {
    color: var(--bs-light);
}


body{
    background:var(--bs-body-bg);
    color:var(--bs-body-color);}

a {
    color:var(--anchor-color);
    text-decoration: underline;
}
nav.navbar {
    background: var(--bs-body-bg);
}

.hero {
    padding: 100px 0;
    background: var(--hero-bg);
    color: var(--bs-body-color);
}
.feature-card,.price-card{
    border-radius:16px;
    transition:.3s}
.feature-card:hover,.price-card:hover{
    transform:translateY(-5px)
}
.section{padding:80px 0}
.footer{
    background:var(--bs-body-bg);
    color:var(--bs-body-color);
    padding:40px 0
}

section#pricing, li.pricing
{
    display: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bg-primary);
    --bs-btn-border-color: #7da3da;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #36598e;
    --bs-btn-hover-border-color:var(--bg1-down1);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bg1);
    --bs-btn-active-border-color:var(--bg1-down1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--bg1);
    --bs-btn-disabled-border-color:var(--bg1-down1);
}
.card {
  --bs-card-bg: var(--card-bg);
  --bs-card-color: var(--card-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.card .text-primary { 
    color: var(--card-icon-color) !important;
}   


.card-header {
    background: var(--bg-header1);
}

/*layout */

.btn-sidebar-toggle {
    color: var(--btn-sidebar-toggle-color);
}   

.collapsed .nav-item i {
    font-size: 16pt;
    padding: 10px 0px;
}

.layout{
    display:flex;
}
.layout.collapsed .sidebar{
    width:55px;
}
.layout.collapsed .logo{
    text-align:center;
     font-size:18px;
}
.layout.collapsed .nav-item span{
    padding-left:0;
    padding-right:0;
    font-size:0;
    margin:0;
}
.collapsed .nav-title {
    display: none;
}
 
.brand{font-size:30px;font-weight:700}
.sub{color:#8aa4ff}
.menu-title{font-size:11px;color:#8c929d;margin:18px 0 8px}
.menu{padding:12px 14px;border-radius:10px;color:#ddd;text-decoration:none;display:block;margin-bottom:4px}
.menu:hover,.active{background:#2b313a}
.spacer{flex:1}
.logout{background:#822}
.right-content{
    flex:1;
    padding:10px;
    transition:.25s;
}
.topbar{display:flex;justify-content:space-between;align-items:center;margin-bottom:25px}
.top-right{display:flex;gap:10px;align-items:center}
.plan{background:#198754;padding:10px 16px;border-radius:8px;font-weight:700}
/*end of layout */


/* footer */
 .footer {
    margin-top: auto;
    padding: 12px 24px;
    border-top: 1px solid var(--border-footer-color);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    font-size: 13px;
    color: var(--border-footer-text-color);
}

.footer .divider {
    color: #4b5563;
}

.footer .badge {
    padding: 4px 5px 7px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;
}

.footer .badge.environment {
    background: #163d2a;
    color: #6ee7b7;
    border: 1px solid #1f6b47;
}

/* enf of footer */


