
@import "dashboard.css";
:root{
      /* Gray */
    --gray-0:   #FFFFFF;
    --gray-50:  #FAFAFA;
    --gray-100: #F5F5F5;  
    --gray-150: #F0F0F0;  
    --gray-200: #E5E5E5;
    --gray-250: #DDDDDD;
    --gray-300: #D4D4D4;
    --gray-350: #BCBCBC;
    --gray-400: #A3A3A3;
    --gray-450: #8B8B8B;
    --gray-500: #737373;
    --gray-550: #636363;
    --gray-600: #525252;
    --gray-650: #494949;
    --gray-700: #404040;
    --gray-750: #333333;
    --gray-800: #262626;
    --gray-850: #1F1F1F;
    --gray-900: #171717;
    --gray-950: #0A0A0A;
    /* Slate */
    --slate-0:   #FFFFFF;
    --slate-50:  #F7F9FC;
    --slate-100: #EEF2F7;
    --slate-150: #E5ECF3;
    --slate-200: #DCE4EE;
    --slate-250: #CCD7E5;
    --slate-300: #BCCBDB;
    --slate-350: #A6B7CA;
    --slate-400: #8FA5BE;
    --slate-450: #7A92AE;
    --slate-500: #657C98;
    --slate-550: #58708A;
    --slate-600: #4A617C;
    --slate-650: #40556E;
    --slate-700: #354960;
    --slate-750: #2D3F55;
    --slate-800: #25344B;  /*base color*/
    --slate-850: #1F2C40;
    --slate-900: #1A2535;
    --slate-950: #0F1724;

    --blue-up-01: #3b639e;
    --blue-up-02: #4572b6;
    --blue-up-03: #4f80cb;
    --blue-up-04: #578ddf;
    --blue-up-05: #5d98f1;
    --blue-down-01: #305182;
    --blue-down-02: #27426b;
    --blue-down-03: #1e3352;
    --blue-down-04: #142237;
    --blue-down-05: #0a111c;
    --blue-left-01: #486ba0;
    --blue-left-02: #52719f;
    --blue-left-03: #5f789f;
    --blue-left-04: #7a92b7;
    --blue-left-05: #9fb5d7;
    --blue-right-01: #325e9e;
    --blue-right-02: #28569d;
    --blue-right-03: #1f55a6;
    --blue-right-04: #1552ad;
    --blue-right-05: #0a4fb5;
}

[data-bs-theme="dark"] {
    --bg-body:var(--gray-900);
    --bg-primary: var(--slate-800);
    --bg-primary-hover: var(--blue-up-01);
    --bg-top-bar: var(--slate-800);
    --bg-btn: var(--bg-primary);
    --text:var(--blue-up-01);
    --texthover:var(--blue-up-05);
    --bg-hero: linear-gradient(135deg, var(--slate-800), var(--slate-700));
    --bg-card:var(--gray-850);
    --btn-1: var(--slate-850);
    --btn-2:var(--slate-900); 
    --btn-3:var(--slate-800); 
    
    --btn-border-1:var(--slate-700); 
    --btn-border-2:var(--slate-750); 
    --btn-border-3:var(--slate-800); 
 
    --bg-outline-primary:var(--blue-up-01);
    --btn-outline-hover-color:var(--gray-150);
    
}

[data-bs-theme="light"] {
    --bg-body:var(--gray-200);
    --bg-primary: var(--slate-800);
    --bg-primary-hover: var(--blue-up-03);
    --btn-hover-color:var( --slate-150)
    --bg-top-bar: var(--gray-100);
    --bg-primary: #3b639e;
    --bg-btn: var(--bg-primary);
    --text:var(--blue-up-01);
    --texthover:var(--blue-up-05);
    --bg-card:var(--gray-50);
    --btn-1:var(--blue-right-01); 
    --btn-2:var(--blue-down-01); 
    --btn-3:var(--blue-left-01); 
    
    --btn-border-1:var(--gray-450); 
    --btn-border-2:var(--gray-500); 
    --btn-border-3:var(--gray-550); 


    --bg1: #385d94;
    --bg-hero: linear-gradient(135deg, var(--slate-800), var(--slate-700)); 
    --bs-secondary-color: #2a577d;
    --card-icon-color:var(--bg1);   
    --card-color: var(--bs-dark);
    --anchor-color:#3b639e;
    --box-shadow:0 3px 10px rgba(0, 0, 0, .05);
    --bg-nav-title: #000;
    --bg-nav-title-hover: #f4f4f4;
    --bg-nav-item-active: #e4e4e4;
    --color-nav-item-active:#3b639e;
    --bg-nav-item-hover: #f4f4f4; 
    --color-nav-item-hover:#393a3c;
    --color-nav-title: #000;
    --color-nav-item: #3b639e;
    --sidebar-border-color: #e5e5e5;
    --btn-sidebar-toggle-color: #adadad;
    --bg-card-stat-a-hover: #fff;
    --color-card-border: #e5e5e5;
    --bg-footer-color:#fff;
    --border-footer-color:#e5e5e5;
    --border-footer-text-color:#323232;    

    --bg-outline-primary:var(--blue-up-01);
    --btn-outline-hover-color:var(--gray-150);
 
}

*{box-sizing:border-box}
div#app {
    min-height: 100vh;
}

.modal {
    --bs-modal-header-padding: 10px 8px;
}
.modal .btn{
    padding: 2px 10px;
}

.modal h5.modal-title {
    font-size: 12pt;
    font-weight: normal;
}

.modal .modal-body {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    justify-content: center;
    padding: 5px 7px;
}
.hero h1, .hero h2,.hero p {
    color: var(--bs-light);
}


body{
    background:var(--bg-body);
    color:var(--bs-body-color);}


a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--texthover);
    text-decoration: underline;
}

nav.navbar {
    background: var(--bs-body-bg);
}

.hero {
    padding: 100px 0;
    background: var(--bg-hero);
    color: var(--bs-body-color);
}
.feature-card,.price-card{
    border-radius:16px;
    transition:.3s}
.feature-card:hover,.price-card:hover{
    transform:translateY(-5px)
}
.section{padding:80px 0}


section#pricing, li.pricing
{
    display: none;
}

.btn-primary {
    --bs-btn-bg: var(--bg-primary);
    --bg-btn: var(--bg-primary);
    --bs-btn-border-color: var(--border-primary);
    --bs-btn-hover-color: var(btn-hover-color);
    --bs-btn-hover-bg: var(--bg-primary-hover);
    --bs-btn-hover-border-color:var(--border-primary-hover);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bg1);
    --bs-btn-active-border-color:var(--bg1-down1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--bg1);
    --bs-btn-disabled-border-color:var(--bg1-down1);
}

.btn-outline-light {
    --bs-btn-color: var(--bg-outline-primary);
    --bs-btn-border-color: var(--bg-outline-primary);
    --bs-btn-hover-color:var(--btn-outline-hover-color);
    --bs-btn-hover-bg: var(--bg-outline-primary);
    --bs-btn-hover-border-color: var(--bg-outline-primary);
}

.card {
  --bs-card-bg: var(--bg-card);
  --bs-card-color: var(--card-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.card .text-primary { 
    color: var(--card-icon-color) !important;
}   

.card-header {
    background: var(--bg-card);
}
/*sidebar navigation*/

.sidebar{
    width:260px;
    border-right: solid 1pt var(--sidebar-border-color);
    transition:width .25s ease;
    overflow:hidden;
    white-space:nowrap;
    background-color:var(--bg-card);

}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.logo a {
    text-decoration: none;
    font-size: 16pt;
}
.nav-item {
    display: block;
    padding: 7px 15px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}
.nav-item:hover{
    background:var(--bg-nav-item-hover);
    color:var(--color-nav-item-hover);
}
.nav-item.active {
    background:var(--bg-nav-item-active);
    color: var(--color-nav-item-active);

}
a.nav-item {
    color:var(--color-nav-item);
}

.nav-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 15px;
    cursor:pointer;
    border-radius:8px;
    margin-top:10px;
    font-weight: 500;
    color: var(--color-nav-title) 
}

.nav-title:hover{
    background:var(--bg-nav-title-hover);
    color: var(--color-nav-title)
}
.nav-body{
    overflow:hidden;
    max-height:0;
    transition:max-height .25s ease;
    /*padding-left:15px;*/
}
.nav-group.open .nav-body{
    max-height:300px;
}
.nav-title i {
    transition: .25s;
}

.nav-group.open .nav-title i{
    transform:rotate(180deg);
}

/*layout */

.btn-sidebar-toggle {
    color: var(--btn-sidebar-toggle-color);
}   

.collapsed .nav-item i {
    font-size: 16pt;
    padding: 10px 0px;
}

.layout{
    display:flex;
}
.layout.collapsed .sidebar{
    width:55px;
}
.layout.collapsed .logo{
    text-align:center;
     font-size:18px;
}
.layout.collapsed .nav-item span{
    padding-left:0;
    padding-right:0;
    font-size:0;
    margin:0;
}
.collapsed .nav-title {
    display: none;
}
 
.brand{font-size:30px;font-weight:700}
.sub{color:#8aa4ff}
.menu-title{font-size:11px;color:#8c929d;margin:18px 0 8px}
.menu{padding:12px 14px;border-radius:10px;color:#ddd;text-decoration:none;display:block;margin-bottom:4px}
.menu:hover,.active{background:#2b313a}
.spacer{flex:1}
.logout{background:#822}
.right-content{
    flex:1;
    padding:0px 10px 10px;
    transition:.25s;
}
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
    background:var(--bg-card);
}
.top-right{display:flex;gap:10px;align-items:center}
.plan{background:#198754;padding:10px 16px;border-radius:8px;font-weight:700}
/*end of layout */


/* footer */
 .footer {
    
    margin-top: auto;
    padding: 12px 24px;
   /* border-top: 1px solid var(--border-footer-color);*/
    background:var(--bg-card);
     
}

 

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    font-size: 13px;
    color: var(--border-footer-text-color);
}

.footer .divider {
    color: #4b5563;
}

.footer .badge {
    padding: 4px 5px 7px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;
}

.footer .badge.environment {
    background: #163d2a;
    color: #6ee7b7;
    border: 1px solid #1f6b47;
}

/* enf of footer */


