:root {
    --bs-btn-bg: #6788b9;
    --bg1: #406eb2;
    --bg1-down1: #385d94;
}

/*
[data-bs-theme="dark"] {}
[data-bs-theme="light"] {}
*/
.text-primary { 
    color:var(--bg1) !important;
}

.hero h1, .hero h2,.hero p {
    color: var(--bs-light);
}


body{
    background:var(--bs-body-bg);
    color:var(--bs-body-color);}

a {
    color:var(--bg1);
    text-decoration: underline;
}
nav.navbar {
    background: var(--bs-body-bg);
}

.hero {
    padding: 100px 0;
    background: linear-gradient(135deg,var(--bg1),var(--bg1-down1));
    color: var(--bs-body-color);
}
.feature-card,.price-card{
    border-radius:16px;
    transition:.3s}
.feature-card:hover,.price-card:hover{
    transform:translateY(-5px)
}
.section{padding:80px 0}
.footer{
    background:#212529;
    color:var(--bs-body-color);
    padding:40px 0
}

section#pricing, li.pricing
{
    display: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bg1);
    --bs-btn-border-color: #7da3da;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #36598e;
    --bs-btn-hover-border-color:var(--bg1-down1);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bg1);
    --bs-btn-active-border-color:var(--bg1-down1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:var(--bg1);
    --bs-btn-disabled-border-color:var(--bg1-down1);
}