USE [master]
GO
/****** Object:  Database [SmagerUpClientDb]    Script Date: 6/27/2026 7:50:44 AM ******/
CREATE DATABASE [SmagerUpClientDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmagerUpClientDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.EXPRESS2022\MSSQL\DATA\SmagerUpClientDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmagerUpClientDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.EXPRESS2022\MSSQL\DATA\SmagerUpClientDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmagerUpClientDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmagerUpClientDb]
GO
/****** Object:  User [IIS APPPOOL\SmagerUpCore]    Script Date: 6/27/2026 7:50:44 AM ******/
CREATE USER [IIS APPPOOL\SmagerUpCore] FOR LOGIN [IIS APPPOOL\SmagerUpCore] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\SmagerUpCore]
GO
/****** Object:  UserDefinedTableType [dbo].[su_roles_tt]    Script Date: 6/27/2026 7:50:44 AM ******/
CREATE TYPE [dbo].[su_roles_tt] AS TABLE(
	[RoleId] [uniqueidentifier] NULL,
	[IsEdited] [varchar](1) NULL,
	[RoleName] [varchar](50) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[su_GetDate]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[su_GetDate]() 
RETURNS datetime 
AS
BEGIN
		return DATEADD(hour, 8, GETUTCDATE()) 

END;

GO
/****** Object:  Table [dbo].[su_Actions]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_Actions](
	[ActionId] [uniqueidentifier] NOT NULL,
	[ActionCode] [varchar](50) NULL,
	[ActionType] [char](1) NULL,
	[ActionName] [varchar](50) NULL,
	[CommandText] [nvarchar](max) NOT NULL,
	[CommandType] [char](1) NOT NULL,
	[IsPublic] [char](1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_su_SqlCommands_1] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_ComponentIncludes]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_ComponentIncludes](
	[ComponentIncludeId] [uniqueidentifier] NOT NULL,
	[ComponentId] [uniqueidentifier] NOT NULL,
	[IncludeId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComponentIncludes] PRIMARY KEY CLUSTERED 
(
	[ComponentIncludeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_ComponentResources]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_ComponentResources](
	[ComponentResourceId] [uniqueidentifier] NOT NULL,
	[ComponentId] [uniqueidentifier] NOT NULL,
	[ResourceId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComponentResources] PRIMARY KEY CLUSTERED 
(
	[ComponentResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_Components]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_Components](
	[ComponentId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Version] [int] NOT NULL,
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[LicenseTypeId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_ComponentTypes]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_ComponentTypes](
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[ComponentTypeName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComponentTypes] PRIMARY KEY CLUSTERED 
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_Resources]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_Resources](
	[ResourceId] [uniqueidentifier] NOT NULL,
	[ResourceName] [varchar](30) NOT NULL,
	[ResourceType] [varchar](5) NULL,
	[ResourceBody] [nvarchar](max) NOT NULL,
	[Version] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_Roles]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_Roles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_Settings]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_Settings](
	[ConfigKey] [varchar](50) NOT NULL,
	[value] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Settings_1] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_Users]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](20) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[EmailAdd] [nvarchar](255) NULL,
	[RoleId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[IsLocked] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[su_Actions] ([ActionId], [ActionCode], [ActionType], [ActionName], [CommandText], [CommandType], [IsPublic], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'15928a41-40ee-4f3f-a46d-2f2f0bd86e46', N'SQ-781B-8FAD', N'Q', N'ActionList', N'su_Actions_sel', N'P', N'N', 1, 0, CAST(N'2026-06-19T03:52:05.287' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL, NULL)
INSERT [dbo].[su_Actions] ([ActionId], [ActionCode], [ActionType], [ActionName], [CommandText], [CommandType], [IsPublic], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'78b2419c-934b-4e08-b392-2f3a85854551', N'SQ-9044-D657', N'C', N'SyncActions', N'su_Actions_sync', N'P', N'N', 1, 0, CAST(N'2026-06-19T03:52:05.287' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL, NULL)
INSERT [dbo].[su_Actions] ([ActionId], [ActionCode], [ActionType], [ActionName], [CommandText], [CommandType], [IsPublic], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'e8a712c1-6b39-4362-a714-3777648904a6', N'TEST-GRAPHQL', N'Q', N'TestGraphQL', N'{
  "endpoint":"https://countries.trevorblades.com/",
  "query":"query { countries { code name emoji } }"
}', N'G', N'N', 1, 0, CAST(N'2026-06-27T04:29:37.150' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[su_ComponentTypes] ([ComponentTypeId], [ComponentTypeName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'd015e4bd-7013-478e-907c-1d34aa1743e0', N'Panel', 1, 0, CAST(N'2026-06-12T22:14:05.367' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[su_ComponentTypes] ([ComponentTypeId], [ComponentTypeName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'358ccd56-0d3f-40ae-afbd-63c9069fd19a', N'Page', 1, 0, CAST(N'2026-06-12T22:14:13.947' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[su_ComponentTypes] ([ComponentTypeId], [ComponentTypeName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'760994e9-4ea8-4193-9a1e-8e0caf937d56', N'Library', 1, 0, CAST(N'2026-06-12T22:15:03.070' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[su_Resources] ([ResourceId], [ResourceName], [ResourceType], [ResourceBody], [Version], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'9905d269-4c26-4c6e-8777-367198a9af6e', N'resource 2', N'html', N'<h1>hello world</h1>', 0, 1, 0, CAST(N'2026-06-19T16:34:02.810' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL, NULL)
INSERT [dbo].[su_Resources] ([ResourceId], [ResourceName], [ResourceType], [ResourceBody], [Version], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'14389d68-d4a8-42ec-9366-3e47e4c41b72', N'resource 2', N'html', N'<h1>hello world</h1>', 0, 1, 0, CAST(N'2026-06-17T10:30:06.290' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL, NULL)
INSERT [dbo].[su_Resources] ([ResourceId], [ResourceName], [ResourceType], [ResourceBody], [Version], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'08ea9a7d-22ee-477a-ad98-62f5114012a7', N'resource 2', N'html', N'<h1>hello world</h1>', 0, 1, 0, CAST(N'2026-06-19T16:46:50.523' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL, NULL)
GO
INSERT [dbo].[su_Roles] ([RoleId], [RoleName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'e6b92dc6-5bca-454b-bac2-2b7bf24a2761', N'User', 1, 0, CAST(N'2026-06-13T05:32:20.377' AS DateTime), CAST(N'2026-06-27T07:37:20.430' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL)
INSERT [dbo].[su_Roles] ([RoleId], [RoleName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'f898dc15-ae37-46fc-87ba-8442c63b3518', N'Admin', 1, 0, CAST(N'2026-06-13T05:32:10.483' AS DateTime), CAST(N'2026-06-27T07:37:20.430' AS DateTime), NULL, NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', NULL)
INSERT [dbo].[su_Roles] ([RoleId], [RoleName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'e0d71c4b-dc60-4737-bd2b-917575c823ca', N'user1', 1, 0, CAST(N'2026-06-19T02:47:53.130' AS DateTime), CAST(N'2026-06-27T07:37:20.430' AS DateTime), NULL, N'474e7a82-339c-4519-8cce-a152741f46c2', N'474e7a82-339c-4519-8cce-a152741f46c2', NULL)
GO
INSERT [dbo].[su_Settings] ([ConfigKey], [value]) VALUES (N'AppTitle', N'SmagerUp')
INSERT [dbo].[su_Settings] ([ConfigKey], [value]) VALUES (N'DateFormat', N'mm/dd/yyyy')
INSERT [dbo].[su_Settings] ([ConfigKey], [value]) VALUES (N'DefaultPage', N'userdashboard')
GO
INSERT [dbo].[su_Users] ([UserId], [UserName], [PasswordHash], [FirstName], [LastName], [EmailAdd], [RoleId], [IsActive], [IsLocked], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'474e7a82-339c-4519-8cce-a152741f46c2', N'gfuentes', N'AQAAAAIAAYagAAAAEIuA5SeuPPp2A2wQFqaiTUzesZ3JXnYiSDWgNpr4+FkLsMzYyZmRWQobeEqiXFyEYw==', N'German', N'Fuentes', N'gm_fuentes@yahoo.com', N'f898dc15-ae37-46fc-87ba-8442c63b3518', 1, 0, 0, CAST(N'2026-06-13T02:59:35.877' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[su_Actions] ADD  CONSTRAINT [DF_su_SqlCommands_SqlCmdId]  DEFAULT (newid()) FOR [ActionId]
GO
ALTER TABLE [dbo].[su_Actions] ADD  CONSTRAINT [DF_SqlCommands_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_Actions] ADD  CONSTRAINT [DF_SqlCommands_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_Actions] ADD  CONSTRAINT [DF_SqlCommands_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_ComponentIncludeId]  DEFAULT (newid()) FOR [ComponentIncludeId]
GO
ALTER TABLE [dbo].[su_ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_ComponentResources] ADD  CONSTRAINT [DF_ComponentResources_ComponentResourceId]  DEFAULT (newid()) FOR [ComponentResourceId]
GO
ALTER TABLE [dbo].[su_ComponentResources] ADD  CONSTRAINT [DF_ComponentResources_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_ComponentResources] ADD  CONSTRAINT [DF_ComponentResources_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_ComponentResources] ADD  CONSTRAINT [DF_ComponentResources_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_Components] ADD  CONSTRAINT [DF_Components_ComponentId]  DEFAULT (newid()) FOR [ComponentId]
GO
ALTER TABLE [dbo].[su_Components] ADD  CONSTRAINT [DF_Components_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_Components] ADD  CONSTRAINT [DF_Components_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_Components] ADD  CONSTRAINT [DF_Components_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_ComponentTypeId]  DEFAULT (newid()) FOR [ComponentTypeId]
GO
ALTER TABLE [dbo].[su_ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_Resources] ADD  CONSTRAINT [DF_Resources_ResourceId]  DEFAULT (newid()) FOR [ResourceId]
GO
ALTER TABLE [dbo].[su_Resources] ADD  CONSTRAINT [DF_Resources_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_Resources] ADD  CONSTRAINT [DF_Resources_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_Resources] ADD  CONSTRAINT [DF_Resources_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_Roles] ADD  CONSTRAINT [DF_Roles_RoleId]  DEFAULT (newid()) FOR [RoleId]
GO
ALTER TABLE [dbo].[su_Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_Roles] ADD  CONSTRAINT [DF_Roles_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_Roles] ADD  CONSTRAINT [DF_Roles_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[su_Users] ADD  CONSTRAINT [DF_Table_1_AccountId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[su_Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[su_Users] ADD  CONSTRAINT [DF_Users_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[su_Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[su_Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[su_Actions_sel]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[su_Actions_sel]
(
     @UserId UNIQUEIDENTIFIER = NULL
    ,@SortIndex INT = 1
    ,@SortOrder INT = 0
    ,@Rpp INT = 25
    ,@Pno INT = 1
    ,@SearchCode VARCHAR(50) = NULL
    ,@SearchText VARCHAR(50) = NULL
	,@ActionCode  VARCHAR(50) = NULL

)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
         *
    FROM dbo.su_Actions
    WHERE
        IsDeleted = 0
        AND (@SearchCode IS NULL OR ActionCode LIKE '%' + @SearchCode + '%')
        AND (@SearchText IS NULL OR CommandText LIKE '%' + @SearchText + '%')
		AND (@ActionCode IS NULL OR ActionCode = @ActionCode)
    ORDER BY ActionCode
    OFFSET (@Pno - 1) * @Rpp ROWS
    FETCH NEXT @Rpp ROWS ONLY;

    SELECT
         COUNT(*) AS RecordCount
        ,CEILING(
            COUNT(*) * 1.0 / @Rpp
        ) AS PageCount
    FROM dbo.su_Actions
    WHERE
        IsDeleted = 0
        AND (@SearchCode IS NULL OR ActionCode LIKE '%' + @SearchCode + '%')
        AND (@SearchText IS NULL OR CommandText LIKE '%' + @SearchText + '%')
		AND (@ActionCode IS NULL OR ActionCode = @ActionCode)

END
GO
/****** Object:  StoredProcedure [dbo].[su_Actions_sync]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[su_Actions_sync]
(
    @UserId UNIQUEIDENTIFIER
)
AS
BEGIN

    SET NOCOUNT ON;

    -------------------------------------------------------
    -- Mark missing procedures as deleted
    -------------------------------------------------------

    UPDATE sc
       SET IsDeleted = 1,
           DeletedBy = @UserId,
           DeletedAt = dbo.su_GetDate()
    FROM su_Actions sc
    WHERE
        sc.CommandType = 'P'
        AND NOT EXISTS
        (
            SELECT 1
            FROM sys.procedures p
            WHERE p.name = sc.CommandText
        );

    -------------------------------------------------------
    -- Add new procedures
    -------------------------------------------------------

    INSERT INTO su_Actions
    (
         CommandText
        ,CommandType
        ,IsPublic
        ,IsActive
        ,IsDeleted
        ,CreatedBy
        ,CreatedAt
    )
    SELECT
         p.name
        ,'Y'
        ,'N'
        ,1
        ,0
        ,@UserId
        ,dbo.su_GetDate()
    FROM sys.procedures p
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM su_Actions sc
        WHERE sc.CommandText = p.name
    );

    -------------------------------------------------------
    -- Generate SqlCode
    -------------------------------------------------------

    DECLARE @ActionId UNIQUEIDENTIFIER;
    DECLARE @CommandText VARCHAR(255);
    DECLARE @ActionCode VARCHAR(20);
    DECLARE @Prefix VARCHAR(2);

    DECLARE cur CURSOR LOCAL FAST_FORWARD
    FOR
    SELECT
         ActionId
        ,CommandText
    FROM su_Actions
    WHERE
        CommandType = 'Y'
        AND ISNULL(ActionCode,'') = '';

    OPEN cur;

    FETCH NEXT FROM cur
    INTO @ActionId, @CommandText;

    WHILE @@FETCH_STATUS = 0
    BEGIN

  		---------------------------------------------------
		-- Determine Prefix
		---------------------------------------------------

		DECLARE @ModuleName VARCHAR(100);

		SET @ModuleName =
			REPLACE(
				LEFT(
					@CommandText,
					CHARINDEX('_', @CommandText + '_', 4) - 1
				),
				'su_',
				''
			);

		SET @Prefix =
			  UPPER(LEFT(@ModuleName,1))
			+ UPPER(SUBSTRING(@ModuleName,2,1))
			+ UPPER(RIGHT(@ModuleName,1));

        ---------------------------------------------------
        -- Generate Unique Code
        ---------------------------------------------------

        WHILE 1 = 1
        BEGIN

            SET @ActionCode =
                @Prefix + '-' +
                UPPER(LEFT(REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', ''), 4))
                + '-' +
                UPPER(SUBSTRING(REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', ''), 1, 4));

            IF NOT EXISTS
            (
                SELECT 1
                FROM su_Actions
                WHERE ActionCode = @ActionCode
            )
                BREAK;

        END

        UPDATE su_Actions
           SET ActionCode = @ActionCode
        WHERE ActionId = @ActionId;

        FETCH NEXT FROM cur
        INTO @ActionId, @CommandText;

    END

    CLOSE cur;
    DEALLOCATE cur;

END
GO
/****** Object:  StoredProcedure [dbo].[su_Actions_upd]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[su_Actions_upd](
	 @ActionId uniqueidentifier 
	,@ActionCode varchar(50)
	,@ActionName varchar(50)
	,@CommandText nvarchar(max)
	,@IsPublic char(1)
	,@UserId uniqueidentifier
)
AS
BEGIN
SET NOCOUNT ON 
IF NOT @ActionId IS NULL
	BEGIN
		UPDATE su_Actions
			SET  ActionCode	=	@ActionCode
				,CommandText	=	@CommandText
				,IsPublic		=	@IsPublic
				,UpdatedBy		=	@UserId
				,UpdatedAt   =	dbo.GetDate()
			WHERE
				ActionId = @ActionId
	END
ELSE
	BEGIN
		INSERT INTO su_Actions(
			 ActionCode		
			,ActionName		
			,CommandText
			,CommandType
			,IsPublic	
			,CreatedBy
			,CreatedAt	
			)
		VALUES ( 
			 @ActionCode	
			,@ActionName
			,@CommandText
			,'P'
			,@IsPublic	
			,@UserId  
			,dbo.su_getDate()
		)
	END
END

 
GO
/****** Object:  StoredProcedure [dbo].[su_Roles_sel]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[su_Roles_sel]
(
     @UserId UNIQUEIDENTIFIER = NULL
	 ,@RoleId UNIQUEIDENTIFIER = NULL
 
)
AS
BEGIN

    SET NOCOUNT ON;


    SELECT
        *
    FROM dbo.su_Roles
    WHERE
        IsDeleted = 0
        AND (@RoleId IS NULL OR RoleId  = @RoleId)
    
    ORDER BY RoleName
 
 
END
GO
/****** Object:  StoredProcedure [dbo].[su_roles_upd]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[su_roles_upd]
(
    @tt  su_roles_tt READONLY
   ,@UserId uniqueidentifier
)
AS
SET NOCOUNT ON

DECLARE @updated_count INT;
DECLARE @inserted_count INT;
-- Update Process
 
	UPDATE a 
		 SET RoleName       = b.RoleName
	   	    ,UpdatedBy      = @UserId 
			,UpdatedAt      = dbo.su_getDate()
       FROM dbo.su_Roles a INNER JOIN @tt b
	     ON a.RoleId = b.RoleId 
		WHERE b.RoleName IS NOT NULL
	    AND isnull(b.IsEdited,'N')='Y'
 
SET @updated_count = @@ROWCOUNT;

-- Insert Process
	INSERT INTO su_roles (
		 RoleName
		,CreatedBy
		,CreatedAt
    )
	SELECT 
		 RoleName
	    ,@UserId 
	    ,dbo.su_getDate()
	FROM @tt 
	WHERE RoleId IS NULL 
	  AND RoleName IS NOT NULL;

SET @inserted_count =  @@ROWCOUNT;

SELECT @updated_count AS UpdatedCount    
	,@inserted_count AS InsertedCount;
GO
/****** Object:  StoredProcedure [dbo].[su_Users_sel]    Script Date: 6/27/2026 7:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[su_Users_sel]
(
     @UserId UNIQUEIDENTIFIER = NULL    ,
	 @UserName VARCHAR(20) = NULL
 
)
AS
BEGIN

    SET NOCOUNT ON;


    SELECT
        *
    FROM dbo.su_Users
    WHERE
        IsDeleted = 0
        AND (@UserId IS NULL OR UserId  = @UserId)
		AND (@UserName IS NULL OR UserName = @UserName)
    
END
GO
USE [master]
GO
