USE [master]
GO
/****** Object:  Database [SmagerUpCore]    Script Date: 6/17/2026 4:05:38 AM ******/
CREATE DATABASE [SmagerUpCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmagerUpCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.EXPRESS2022\MSSQL\DATA\SmagerUpCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmagerUpCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.EXPRESS2022\MSSQL\DATA\SmagerUpCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmagerUpCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmagerUpCore]
GO
/****** Object:  Table [dbo].[ClientComponents]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientComponents](
	[ClientModuleId] [uniqueidentifier] NOT NULL,
	[ClientId] [uniqueidentifier] NOT NULL,
	[ComponentId] [uniqueidentifier] NULL,
	[ExpiryAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__ClientComponents] PRIMARY KEY CLUSTERED 
(
	[ClientModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[EmailAdd] [nvarchar](255) NULL,
	[ApiKey] [nvarchar](255) NOT NULL,
	[ConnectionString] [nvarchar](1000) NULL,
	[IsActive] [bit] NULL,
	[IsLocked] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Clients__AccountId] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentIncludes]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentIncludes](
	[ComponentIncludeId] [uniqueidentifier] NOT NULL,
	[ComponentId] [uniqueidentifier] NOT NULL,
	[IncludeId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComponentIncludes] PRIMARY KEY CLUSTERED 
(
	[ComponentIncludeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentResources]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentResources](
	[ComponentResourceId] [uniqueidentifier] NOT NULL,
	[ComponentId] [uniqueidentifier] NOT NULL,
	[ResourceId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComponentResource] PRIMARY KEY CLUSTERED 
(
	[ComponentResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[ComponentId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Version] [int] NOT NULL,
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[LicenseTypeId] [uniqueidentifier] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentTypes]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTypes](
	[ComponentTypeId] [uniqueidentifier] NOT NULL,
	[ComponentTypeName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComponentTypes] PRIMARY KEY CLUSTERED 
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Includes]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Includes](
	[IncludeId] [uniqueidentifier] NOT NULL,
	[URL] [uniqueidentifier] NOT NULL,
	[IsExternal] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Includes] PRIMARY KEY CLUSTERED 
(
	[IncludeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseTypes ]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseTypes ](
	[LicenseTypeId] [uniqueidentifier] NOT NULL,
	[ContentId] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LicenseTypes ] PRIMARY KEY CLUSTERED 
(
	[LicenseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuItemId] [uniqueidentifier] NOT NULL,
	[ParentMenuId] [int] NULL,
	[MenuName] [char](30) NOT NULL,
	[SeqNo] [int] NULL,
	[PageId] [int] NULL,
	[parameters] [varchar](50) NULL,
	[IsDefault] [bit] NULL,
	[Icon] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceExtResources]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceExtResources](
	[ResourceExtResourceId] [uniqueidentifier] NOT NULL,
	[ResourceId] [uniqueidentifier] NULL,
	[ExtResourceId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ResourceExtResources] PRIMARY KEY CLUSTERED 
(
	[ResourceExtResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [uniqueidentifier] NOT NULL,
	[ResourceName] [varchar](30) NOT NULL,
	[ResourceType] [varchar](5) NULL,
	[ResourceBody] [nvarchar](max) NOT NULL,
	[Version] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenuItemPermissions]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuItemPermissions](
	[RoleMenuItemPermissionId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[MenuItemId] [uniqueidentifier] NOT NULL,
	[IsWrite] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RoleMenuItems] PRIMARY KEY CLUSTERED 
(
	[RoleMenuItemPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePagePermissions]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePagePermissions](
	[RolePagePermissionId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[PageId] [uniqueidentifier] NOT NULL,
	[IsReadAccess] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RolePagePermissions] PRIMARY KEY CLUSTERED 
(
	[RolePagePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [char](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[ConfigKey] [varchar](50) NOT NULL,
	[value] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[EmailAdd] [nvarchar](255) NULL,
	[RoleId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[IsLocked] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ClientComponents] ([ClientModuleId], [ClientId], [ComponentId], [ExpiryAt], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'3b1078e8-471f-417b-8323-22326ebafab2', N'26f1ba8b-95c1-4508-909a-6a8318fef4f6', N'f731cb28-4c64-4016-9a62-c62cc96e0744', NULL, 1, CAST(N'2026-06-09T13:48:15.890' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Components] ([ComponentId], [Name], [Version], [ComponentTypeId], [LicenseTypeId], [Price], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'af8f4929-b3e8-4eab-81d6-4a2f05fc6c0e', N'page1', 1, N'358ccd56-0d3f-40ae-afbd-63c9069fd19a', NULL, CAST(0.00 AS Decimal(10, 2)), 1, 0, CAST(N'2026-06-12T19:09:36.297' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Components] ([ComponentId], [Name], [Version], [ComponentTypeId], [LicenseTypeId], [Price], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'cc0aa0d8-245d-4c1b-8a7f-6d98ecc0614f', N'chart', 1, N'd015e4bd-7013-478e-907c-1d34aa1743e0', N'3e92110a-c8ec-4ad7-9ee4-b6f3ab7a66e4', CAST(9.00 AS Decimal(10, 2)), 1, 0, CAST(N'2025-11-03T12:05:28.063' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Components] ([ComponentId], [Name], [Version], [ComponentTypeId], [LicenseTypeId], [Price], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'f731cb28-4c64-4016-9a62-c62cc96e0744', N'grid', 1, N'd015e4bd-7013-478e-907c-1d34aa1743e0', N'44e6fdd5-a3f6-4bc2-9d6b-44e7a1f3d0a8', CAST(0.00 AS Decimal(10, 2)), 1, 0, CAST(N'2025-11-03T12:04:45.103' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ComponentTypes] ([ComponentTypeId], [ComponentTypeName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'd015e4bd-7013-478e-907c-1d34aa1743e0', N'Panel', 1, 0, CAST(N'2026-06-11T19:28:04.630' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ComponentTypes] ([ComponentTypeId], [ComponentTypeName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'358ccd56-0d3f-40ae-afbd-63c9069fd19a', N'Page', 1, 0, CAST(N'2026-06-11T19:28:09.517' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ComponentTypes] ([ComponentTypeId], [ComponentTypeName], [IsActive], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'760994e9-4ea8-4193-9a1e-8e0caf937d56', N'Libary', 1, 0, CAST(N'2026-06-11T19:27:03.520' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[LicenseTypes ] ([LicenseTypeId], [ContentId], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'44e6fdd5-a3f6-4bc2-9d6b-44e7a1f3d0a8', N'BE9BEC34-5045-4353-A888-177E7F6FC2AA', CAST(N'2025-11-04T03:58:14.733' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LicenseTypes ] ([LicenseTypeId], [ContentId], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'3e92110a-c8ec-4ad7-9ee4-b6f3ab7a66e4', N'A45D469C-7854-4A92-BC83-0772B1F62190', CAST(N'2025-11-04T03:58:14.733' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Resources] ([ResourceId], [ResourceName], [ResourceType], [ResourceBody], [Version], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'a45d469c-7854-4a92-bc83-0772b1f62190', N'SCL', N'html', N'Paid license for commercial use', NULL, 0, CAST(N'2025-11-04T03:43:26.777' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Resources] ([ResourceId], [ResourceName], [ResourceType], [ResourceBody], [Version], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'be9bec34-5045-4353-a888-177e7f6fc2aa', N'SFUL', N'html', N'Free to use but cannot modify', NULL, 0, CAST(N'2025-11-04T03:43:26.777' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Resources] ([ResourceId], [ResourceName], [ResourceType], [ResourceBody], [Version], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'5d9eab67-8e4b-4fdf-80ff-8855956f41db', N'grid', N'css', N'body', NULL, 0, CAST(N'2026-06-09T15:07:31.853' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Settings] ([ConfigKey], [value]) VALUES (N'HostId', N'16B41AED-2DA1-4928-A460-1022ACB229C5')
INSERT [dbo].[Settings] ([ConfigKey], [value]) VALUES (N'HostKey', N'918D9C84-DC89-4CB7-B8BA-F0B2074A7873')
GO
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [FirstName], [LastName], [EmailAdd], [RoleId], [IsActive], [IsLocked], [IsDeleted], [CreatedAt], [UpdatedAt], [DeletedAt], [CreatedBy], [UpdatedBy], [DeletedBy]) VALUES (N'3bb32343-49f5-4600-a59e-83f7a68e4100', N'gfuentes', N'AQAAAAIAAYagAAAAEK3ClstOZDKKX6uPAljk1fUJUtMuIVVpCLP1gl57sEa81wOLwSx+GmqDUnW36yvkKA==', N'admin', N'user', NULL, NULL, 1, 0, 0, CAST(N'2026-06-17T00:43:36.690' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
/****** Object:  Index [IX_ClientComponents]    Script Date: 6/17/2026 4:05:38 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClientComponents] ON [dbo].[ClientComponents]
(
	[ComponentId] ASC,
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clients_ApiKey]    Script Date: 6/17/2026 4:05:38 AM ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ_Clients_ApiKey] UNIQUE NONCLUSTERED 
(
	[ApiKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ComponentIncludes]    Script Date: 6/17/2026 4:05:38 AM ******/
ALTER TABLE [dbo].[ComponentIncludes] ADD  CONSTRAINT [IX_ComponentIncludes] UNIQUE NONCLUSTERED 
(
	[ComponentId] ASC,
	[IncludeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnqueComponentResource]    Script Date: 6/17/2026 4:05:38 AM ******/
ALTER TABLE [dbo].[ComponentResources] ADD  CONSTRAINT [IX_UnqueComponentResource] UNIQUE NONCLUSTERED 
(
	[ComponentId] ASC,
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Modules_Name_Version]    Script Date: 6/17/2026 4:05:38 AM ******/
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [IX_Modules_Name_Version] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[Version] ASC,
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Modules_LicenseType]    Script Date: 6/17/2026 4:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_Modules_LicenseType] ON [dbo].[Components]
(
	[LicenseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ComponentTypes]    Script Date: 6/17/2026 4:05:38 AM ******/
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [IX_ComponentTypes] UNIQUE NONCLUSTERED 
(
	[ComponentTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResourceExtResources]    Script Date: 6/17/2026 4:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_ResourceExtResources] ON [dbo].[ResourceExtResources]
(
	[ResourceId] ASC,
	[ExtResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resources]    Script Date: 6/17/2026 4:05:38 AM ******/
ALTER TABLE [dbo].[Resources] ADD  CONSTRAINT [IX_Resources] UNIQUE NONCLUSTERED 
(
	[ResourceName] ASC,
	[ResourceType] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientComponents] ADD  CONSTRAINT [DF__AccountMo__AccountModuleId]  DEFAULT (newid()) FOR [ClientModuleId]
GO
ALTER TABLE [dbo].[ClientComponents] ADD  CONSTRAINT [DF__AccountMo__IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClientComponents] ADD  CONSTRAINT [DF__AccountMo__CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF__Accounts__AccountId]  DEFAULT (newid()) FOR [ClientId]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Accounts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Accounts_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Accounts_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Accounts_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentIncludes] ADD  CONSTRAINT [DF_Table_1_ComponentResourceId]  DEFAULT (newid()) FOR [ComponentIncludeId]
GO
ALTER TABLE [dbo].[ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ComponentIncludes] ADD  CONSTRAINT [DF_ComponentIncludes_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentResources] ADD  CONSTRAINT [DF_ComponentContents_ComponentContentId]  DEFAULT (newid()) FOR [ComponentResourceId]
GO
ALTER TABLE [dbo].[ComponentResources] ADD  CONSTRAINT [DF_ComponentContents_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ComponentResources] ADD  CONSTRAINT [DF_ComponentContents_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ComponentResources] ADD  CONSTRAINT [DF_ComponentContents_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF__Modules__ModuleId]  DEFAULT (newid()) FOR [ComponentId]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF__Modules__Price]  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF__Modules__IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF_Modules_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Components] ADD  CONSTRAINT [DF__Modules__CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [DF_Table_1_ComponentId]  DEFAULT (newid()) FOR [ComponentTypeId]
GO
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ComponentTypes] ADD  CONSTRAINT [DF_ComponentTypes_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Includes] ADD  CONSTRAINT [DF_Includes_ComponentIncludeId]  DEFAULT (newid()) FOR [IncludeId]
GO
ALTER TABLE [dbo].[Includes] ADD  CONSTRAINT [DF_Includes_IsExternal]  DEFAULT ((0)) FOR [IsExternal]
GO
ALTER TABLE [dbo].[Includes] ADD  CONSTRAINT [DF_Includes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Includes] ADD  CONSTRAINT [DF_Includes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Includes] ADD  CONSTRAINT [DF_Includes_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LicenseTypes ] ADD  CONSTRAINT [DF_LicenseTypes _LicenseTypeId]  DEFAULT (newid()) FOR [LicenseTypeId]
GO
ALTER TABLE [dbo].[LicenseTypes ] ADD  CONSTRAINT [DF_LicenseTypes _CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF_Table_1_PageId_1]  DEFAULT (newid()) FOR [MenuItemId]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF_MenuItems_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF_MenuItems_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF_MenuItems_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ResourceExtResources] ADD  CONSTRAINT [DF_Table_1_ExternalResourceId]  DEFAULT (newid()) FOR [ResourceExtResourceId]
GO
ALTER TABLE [dbo].[ResourceExtResources] ADD  CONSTRAINT [DF_ResourceExtResources_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ResourceExtResources] ADD  CONSTRAINT [DF_ResourceExtResources_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ResourceExtResources] ADD  CONSTRAINT [DF_ResourceExtResources_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Resources] ADD  CONSTRAINT [DF_Contents_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Resources] ADD  CONSTRAINT [DF_Contents_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RoleMenuItemPermissions] ADD  CONSTRAINT [DF_Table_1_PageId_2]  DEFAULT (newid()) FOR [RoleMenuItemPermissionId]
GO
ALTER TABLE [dbo].[RoleMenuItemPermissions] ADD  CONSTRAINT [DF_RoleMenuItems_IsWrite]  DEFAULT ((0)) FOR [IsWrite]
GO
ALTER TABLE [dbo].[RoleMenuItemPermissions] ADD  CONSTRAINT [DF_RoleMenuItems_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[RoleMenuItemPermissions] ADD  CONSTRAINT [DF_RoleMenuItems_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RoleMenuItemPermissions] ADD  CONSTRAINT [DF_RoleMenuItems_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RoleMenuItemPermissions] ADD  CONSTRAINT [DF_RoleMenuItems_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF_Table_1_PageId_3]  DEFAULT (newid()) FOR [RolePagePermissionId]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF_Table_1_IsRead]  DEFAULT ((1)) FOR [IsReadAccess]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF_RolePagePermissions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF_RolePagePermissions_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [DF_RolePagePermissions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Table_1_PageId]  DEFAULT (newid()) FOR [RoleId]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_AccountId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClientComponents]  WITH CHECK ADD  CONSTRAINT [FK_AccountModules_Accounts] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[ClientComponents] CHECK CONSTRAINT [FK_AccountModules_Accounts]
GO
ALTER TABLE [dbo].[LicenseTypes ]  WITH CHECK ADD  CONSTRAINT [FK_LicenseTypes _LicenseTypes ] FOREIGN KEY([LicenseTypeId])
REFERENCES [dbo].[LicenseTypes ] ([LicenseTypeId])
GO
ALTER TABLE [dbo].[LicenseTypes ] CHECK CONSTRAINT [FK_LicenseTypes _LicenseTypes ]
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD  CONSTRAINT [FK_Contents_Contents] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[Resources] CHECK CONSTRAINT [FK_Contents_Contents]
GO
/****** Object:  StoredProcedure [dbo].[host_sel]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[host_sel]

as

DECLARE @col1 AS [uniqueidentifier] =(SELECT [value]  FROM  settings WHERE configkey='HostId')

DECLARE @col2 AS NVARCHAR(1000)  =(SELECT [value]  FROM  settings WHERE configkey='Hostkey')


select @col1 HostId, @col2 HostKey
GO
/****** Object:  StoredProcedure [dbo].[host_user_sel]    Script Date: 6/17/2026 4:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[host_user_sel]
	@UserName NVARCHAR(20)  

AS 
 SELECT * FROM dbo.users WHERE UserName=@UserName
GO
USE [master]
GO
