<div id="msgbox" class="toast-container position-fixed top-0 end-0 p-3">

    <div id="msgToast" class="toast" role="alert">

        <div class="toast-header">

            <strong class="me-auto" id="toastTitle">
                {{title}}
            </strong>

            <button
                class="btn-close"
                data-bs-dismiss="toast">
            </button>

        </div>

        <div class="toast-body" id="toastMessage">
            {{body}}
        </div>

    </div>

</div>